/* Main Styles */

* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* About Me Section */

.my-name {
	margin-top: 3rem;
	text-align: center;
}

.nav-link,
.nav-link:hover {
	color: inherit;
}

.about-container {
	text-align: center;
	margin-top: 2rem;
	padding-left: 10%;
	padding-right: 10%;
}

.my-name,
.about-container {
	color: rgb(59, 68, 75);
}

.profile-picture {
	max-width: 100%;
	border-radius: 50%;
	margin-bottom: 2rem;
}

/* Portfolio Section */

.portfolio-title {
	text-align: center;
	margin-top: 2rem;
}

.custom-button {
	width: 42%;
}

/* Media Queries */

@media screen and (min-width: 768px) {
	.about-container {
		padding-left: 30%;
		padding-right: 30%;
	}
}

@media screen and (min-width: 900px) {
	.profile-picture {
		max-width: 70%;
	}
}
